@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: #3a3a3a;
        --primary-dark: #302d2d;
        --green: #008104;
        --red: #ff0000;
    }

    * {
        @apply p-0 m-0 border-0 box-border;
    }

    html {
        font-family: "Poppins", sans-serif;
    }

    body {
        background-color: var(--primary-dark);
    }

    h1, h2, h3 {
        text-align: center;
    }
}

@layer components {
    .container {
        @apply w-[80%] h-[90%] max-w-3xl px-8 pt-8 text-white bg-[var(--primary)] rounded-md overflow-hidden flex-column gap-7 relative;
    }

    #balance-section {
        @apply flex-column;
    }

    #transactions-section {
        @apply w-full h-full;
    }

    .transactions-container {
        @apply mt-5 flex-column gap-5;
    }

    .transactions {
        @apply w-full text-base text-black font-semibold bg-white rounded-md overflow-hidden flex-row justify-between cursor-pointer hover-effect opacity-85;
    }

    .transactions .source {
        @apply ml-3;
    }

    .amount-info {
        @apply flex-row justify-center gap-4 pl-1.5 border-l-[1.5px] border-black;
    }

    .transactions .type {
        @apply py-1 px-3 text-white self-stretch grid place-items-center;
    }

    .transactions .credit {
        @apply bg-[var(--green)];
    }

    .transactions .debit {
        @apply bg-[var(--red)];
    }

    .transaction-form {
        @apply w-full p-8 bg-white absolute bottom-0 flex flex-col items-start;
    }

    .transaction-form .inp-container {
        @apply w-full mt-3 flex-row justify-between gap-4;
    }

    .transaction-form .source-input {
        flex: 1;
    }

    .transaction-form .amount-input {
        flex: 1;
    }

    .transaction-form label, .transaction-form input {
        @apply text-lg;
    }

    .transaction-form input {
        @apply w-full px-3 py-1.5 rounded text-black text-base focus:outline;
        border: 2px solid black;
    }

    .transaction-form .btns-container {
        @apply w-full mt-6 flex-row justify-between gap-4;
    }

    .transaction-form .btns-container button{
        @apply w-1/2 min-w-28 text-white text-lg rounded-md p-4 hover-effect opacity-90;
    }

    .transaction-form button span {
        @apply text-xl;
    }

    #earningsBtn {
        @apply bg-[var(--green)];
    }

    #expensesBtn {
        @apply bg-[var(--red)];
    }

    @media (max-width: 820px) {
        .transaction-form .source-input, .transaction-form .amount-input {
            flex: 1;
        }
    }

    @media (max-width: 650px) {
        .container h1 {
            @apply text-3xl;
        }

        #balance-section h2 {
            @apply text-2xl;
        }

        #balance-section h3, #transactions-section h3, .transaction-form h3 {
            @apply text-xl;
        }

        .transactions-container {
            @apply mt-3 gap-3;
        }

        .transactions {
            @apply text-sm;
        }

        .transaction-form {
            @apply py-6;
        }

        .transaction-form label, .transaction-form input {
            @apply text-sm;
        }

        .transaction-form .btns-container button{
            @apply p-3 text-sm;
        }

        .transaction-form button span {
            @apply text-lg;
        }
    }

    @media (max-width: 500px) {
        .container {
            @apply w-[85%] px-5;
        }

        .transaction-form {
            @apply p-5;
        }

        .transaction-form .inp-container, .transaction-form .btns-container {
            @apply gap-2;
        }
    }
}

@layer utilities {
    .flex-column {
        @apply flex flex-col items-center;
    }

    .flex-row {
        @apply flex items-center;
    }

    .hover-effect {
        @apply transition-all duration-300;
    }

    .hover-effect:hover {
        @apply scale-[1.0125] shadow-gray-900 shadow-2xl opacity-100;
    }
}