@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: #3a3a3a;
        --primary-dark: #302d2d;
        --green: #008104;
        --red: #ff0000;
    }

    * {
        @apply p-0 m-0 border-0 box-border;
    }

    html {
        font-family: "Poppins", sans-serif;
    }

    body {
        background-color: var(--primary-dark);
    }

    h1, h2, h3 {
        text-align: center;
    }
}

@layer components {
    .container {
        @apply w-[80%] h-[90%] px-8 pt-8 text-white bg-[var(--primary)] rounded-md overflow-hidden flex-column gap-7 relative;
    }

    #balance-section {
        @apply flex-column;
    }

    #transactions-section {
        @apply w-full h-full;
    }

    .transactions-container {
        @apply mt-5 flex-column gap-5;
    }

    .transactions {
        @apply w-full text-base text-black font-semibold bg-white rounded-md overflow-hidden flex-row justify-between cursor-pointer hover-effect opacity-85;
    }

    .transactions .source {
        @apply ml-3;
    }

    .amount-info {
        @apply flex-row justify-center gap-4;
    }

    .transactions .type {
        @apply py-1 px-3 text-white;
    }

    .transactions .credit {
        @apply bg-[var(--green)];
    }

    .transactions .debit {
        @apply bg-[var(--red)];
    }

    .transaction-form {
        @apply w-full p-8 bg-white absolute bottom-0 flex flex-col items-start;
    }

    .transaction-form .inp-container {
        @apply w-full mt-3 flex-row justify-between gap-4;
    }

    .transaction-form .source-input {
        flex: 2;
    }

    .transaction-form input {
        @apply w-full px-3 py-1.5 rounded text-black text-base focus:outline;
        border: 2px solid black;
    }

    .transaction-form .btns-container {
        @apply w-full mt-6 flex-row justify-between gap-4;
    }

    .transaction-form .btns-container button{
        @apply w-1/2 min-w-28 text-white rounded-md p-4 hover-effect;
    }

    .transaction-form button span {
        @apply text-xl;
    }

    #earnings-btn {
        @apply bg-[var(--green)];
    }

    #expenses-btn {
        @apply bg-[var(--red)];
    }
}

@layer utilities {
    .flex-column {
        @apply flex flex-col items-center;
    }

    .flex-row {
        @apply flex items-center;
    }

    .hover-effect {
        @apply transition-all duration-300;
    }

    .hover-effect:hover {
        @apply scale-[1.0125] shadow-gray-900 shadow-2xl opacity-100;
    }
}